#build files
*.hex
*.lss
*.o
%.elf
%.bin

#verilog build files
*.vcd
*.vvp
*.fst
results.xml

#python build files
*.pyc
*.pyo
__pycache__
.venv*
*.egg-info

#cocotb build files
*.log
sim_build*/
build/