set_io --warn-no-port s1_a 23
set_io --warn-no-port s1_b 25
set_io --warn-no-port s1_c 26
set_io --warn-no-port s1_d 27
set_io --warn-no-port s1_e 32
set_io --warn-no-port s1_f 35
set_io --warn-no-port s1_g 31
set_io --warn-no-port led_blue 40
set_io --warn-no-port led_green 39
set_io --warn-no-port led_red 41